[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://gitee.com/ak47chen111/berkeley-softfloat-3.git
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://gitee.com/ak47chen111/yubihsm-shell.git
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://gitee.com/ak47chen111/eos-vm.git
[submodule "eosio-wasm-spec-tests"]
	path = eosio-wasm-spec-tests
	url = https://gitee.com/ak47chen111/eosio-wasm-spec-tests.git
[submodule "libraries/abieos"]
	path = libraries/abieos
	url = https://gitee.com/ak47chen111/abieos.git
[submodule "libraries/rocksdb"]
	path = libraries/rocksdb
	url = https://gitee.com/ak47chen111/rocksdb.git
[submodule "libraries/amqp-cpp"]
	path = libraries/amqp-cpp
	url = https://gitee.com/ak47chen111/AMQP-CPP.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://gitee.com/ak47chen111/fc.git
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://gitee.com/ak47chen111/chainbase.git
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://gitee.com/ak47chen111/appbase2.git
